<div class="p-3 bg-gray-400 flex items-center justify-between gap-6 font-medium">
  <h1 class="text-white font-bold">Routing</h1>
  <ul class="flex gap-4">
    <li><a routerLink="/directive" class="cursor-pointer">Directive</a></li>
    <li><a routerLink="/accounts" class="cursor-pointer">Service</a></li>

    <!-- <li><a routerLink="/home" class="cursor-pointer">Home</a></li>
    <li><a [routerLink]="'/about'" class="cursor-pointer">About</a></li> -->
          <!-- can use data binding -->
    <!-- <li><a routerLink="/contact" class="cursor-pointer">Contact</a></li> -->
  </ul>
  <!-- <button routerLink="/login" class="cursor-pointer p-3 ml-3 bg-blue-500 text-white rounded-sm">Login</button> -->
</div>
