<h1>Forms</h1>
<br>

<div class="form-control">
  <h2>FormControl</h2>
  <app-forms-control></app-forms-control>
</div>
<br>

<div class="form-group">
  <h2>FormGroup</h2>
  <app-forms-group></app-forms-group>
</div>
<br>

<div class="form-group">
  <h2>FormBulder</h2>
  <app-forms-builder></app-forms-builder>
</div>
<br>

<div class="form-group">
  <h2>FormArray</h2>
  <app-forms-array></app-forms-array>
</div>
<br>

<div class="form-group">
  <h2>Form Validation</h2>
  <app-form-validation></app-form-validation>
</div>
<br>
