<div class="app-container">
  <app-weather>
    <app-weather-top-bar ngProjectAs="topBar"/>

    <app-weather-content class="content"/>

    <app-weather-bottom-detail slot="bottomDetails"/>
  </app-weather>
  <br/>


  <!-- <div *ngIf="isVisible; else hiddenContent">
    <h2>Test Template</h2>
  </div>
  <ng-template #hiddenContent>
    <p>Hidden Content</p>
  </ng-template>
  <button (click)="isVisible = !isVisible" class="toggle-button">
    Toggle Visibility
  </button> -->


  <ng-container *ngIf="isLoggedIn; else notLoggedIn">

  <h2>Welcome!</h2>

  <p>You are logged in.</p>

  <button (click)="isLoggedIn = false">Logout</button>

  </ng-container>

  <ng-template #notLoggedIn>

    <h2>Please log in.</h2>

    <button (click)="isLoggedIn = true">Login</button>

  </ng-template>
  <br>



  <ng-template #burgerTemplate>
    <h2>Burger Menu</h2>
    <p>Here is the content of the burger menu.</p>
    <strong>$5.99</strong>
  </ng-template>
  <ng-template #pizzaTemplate>
    <h2>Pizza Menu</h2>
    <p>Here is the content of the pizza menu.</p>
    <strong>$8.99</strong>
  </ng-template>
  <ng-container #container></ng-container>
  <br>
  <button (click)="showBurger()">Show Burger Menu</button>
  <br>
  <button (click)="showPizza()">Show Pizza Menu</button>

</div>
